
<div class="content" dir="rtl">
    <div class="container-fluid" dir="rtl">
        <div class="row">
            <div class="col-lg-3">
               
            </div>
            <div class="col-md-6">
                <div class="card" style="height: 5%!important;">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <h4 class="card-title"> تغيير كلمة المرور</h4>

                    </div>

                    <div class="content">

                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">

                            <div class="row">
                                <div class="col-lg-12">
                                    <el-form-item class="form-group" prop="Password">
                                        <label class="control-label">كلمة المرور القديمة</label>
                                        <el-input type="password" placeholder="كلمة المرور القديمة" v-model="OldPassword" style="width:110%"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <el-form-item class="form-group" prop="Password">
                                        <label class="control-label">كلمة المرور الجديدة</label>
                                        <el-input type="password" placeholder="كلمة المرور الجديدة" v-model="NewPassword" style="width:110%"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <el-form-item class="form-group" prop="Password">
                                        <label class="control-label">كلمة المرور الجديدة</label>
                                        <el-input type="password" placeholder="كلمة المرور الجديدة" v-model="NewPassword2" style="width:110%"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6">
                                    <!--<el-button type="danger" @click="resetForm('ruleForm')">إلـغاء</el-button>-->
                                </div>
                                <div class="col-lg-6" dir="ltr">

                                    <el-button type="primary" @click="submitForm()">حفـظ</el-button>
                                </div>

                            </div>

                        </el-form>


                    </div>

                </div>
            </div>



        </div>
    </div>


  
            

</div>

