<div class="content" dir="rtl">
    <add-CashIn v-if="state==1"></add-CashIn>

    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height:5%!important">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <h4 class="card-title" style="font-weight:bold;">التعبئة النقدية ( نهائي )</h4>
                    </div>

                    <div class="headerCustom">
                        <div class="title">

                            <div class="row">
                                <div class="col-lg-2">
                                    <el-select v-model="SearchSelect" filterable placeholder="البحث بـ">
                                        <el-option v-for="item in [{value:1,label:'الرقم الوطني'},{value:2,label:'رقم الهاتف'}]"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col-lg-4">
                                    <el-input placeholder="الرجاء ادخال البيانات" v-model="SearchText" v-if="SearchSelect!=''"></el-input>
                                </div>
                                <div class="col-lg-2">
                                    <el-button type="primary" icon="el-icon-search" @click.pervent="Search()" v-if="SearchSelect!=''">بحث</el-button>
                                    <el-button type="success" icon="el-icon-refresh" @click.pervent="Refresh()" v-if="SearchSelect!=''"></el-button>
                                </div>
                                <div class="col-lg-4">
                                    <!--<el-button type="primary" @click.prevent="AddCashIn()" v-if="CitizenInfo!=''">تعبئة المحفظه</el-button>-->
                                </div>
                            </div>
                            <br />
                            <br />


                            <div class="row" v-if="CitizenInfo!=''">
                                <div class="col-lg-8">
                                    <el-tag style="font-size: 21px;">الاسم : {{CitizenInfo.name}} {{CitizenInfo.fatherName}} {{CitizenInfo.grandName}} {{CitizenInfo.surName}}</el-tag>
                                    <el-tag style="font-size: 21px;">الهاتف :  {{CitizenInfo.phone}}</el-tag>
                                    <el-tag style="font-size: 21px;">الرقم الوطني :  {{CitizenInfo.nid}}</el-tag>
                                </div>
                                <!--<div class="col-lg-2">
                    <el-tag style="font-size: 21px;">الهاتف :  {{CitizenInfo.phone}}</el-tag>
                </div>
                <div class="col-lg-2">
                    <el-tag style="font-size: 21px;">الرقم الوطني :  {{CitizenInfo.nid}}</el-tag>
                </div>-->
                                <div class="col-lg-4">
                                </div>

                            </div>

                        </div>
                        <p class="category"></p>
                    </div>
                  
                    <div style="padding-left:22px;margin-top: 6%;">
                        <!--view companet-->


                        <div v-if="loginDetails.userType==3" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px">
                            <strong>تنـبيه!</strong> مــوظف المصرف يمكنه عرض حركات الفرع الخاص به فقط.
                        </div>
                        <div v-if="loginDetails.userType==2" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px">
                            <strong>تنـبيه!</strong> مدير المصرف يمكنه عرض جميع حركات الفروع للمصرف الخاص به.
                        </div>
                        <div v-if="loginDetails.userType==1" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px">
                            <strong>تنـبيه!</strong> إدارة النظام يمكنه عرض جميع حركات المصارف المسجلة بالنظام.
                        </div>

                        <div style="margin: 35px;font-size: 35px;" v-if="CashIn==''">
                            <el-alert title="عفــوا! لاتوجد بيانات المحفظه"
                                      type="info">
                            </el-alert>
                        </div>
                        <table id="customers" v-if="CashIn!=''">
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">الاسم</th>
                                <th style="text-align: center; vertical-align: middle;">الرقم الوطني</th>
                                <th style="text-align: center; vertical-align: middle;">رقم الهاتف</th>
                                <th style="text-align: center; vertical-align: middle;">القيمة</th>

                                <th style="text-align: center; vertical-align: middle;">رقم إيصال الإيداع</th>
                                <th style="text-align: center; vertical-align: middle;">الفرع/المصرف</th>

                                <th style="text-align: center; vertical-align: middle;">معلومات اخري</th>
                                <th style="text-align: center; vertical-align: middle;">تاريخ العملية</th>
                                <th style="text-align: center; vertical-align: middle;">الحالة</th>
                                <th style="text-align: center; vertical-align: middle;">العمليات</th>
                            </tr>
                            <tr v-for="c in CashIn">
                                <td style="text-align: center; vertical-align: middle;">{{c.fName}} {{c.fatherName}} {{c.grandName}} {{c.surName}}</td>
                                <td style="text-align: center; vertical-align: middle;">{{c.nid}}</td>
                                <td style="text-align: center; vertical-align: middle;">{{c.phone}}</td>
                                <td style="text-align: center; vertical-align: middle;">{{c.valuedigits}}</td>
                                <td style="text-align: center; vertical-align: middle;">{{c.numInvoiceDep}}</td>
                                <td style="text-align: center; vertical-align: middle;">{{c.bank.name}} / {{c.branch.name}}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <span v-if="c.description==''">
                                        لا يوجد
                                    </span>
                                    <span v-if="c.description!=''">
                                        {{c.description}}
                                    </span>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">{{c.actionDate | moment}}</td>
                                <td style="text-align: center; vertical-align: middle;">

                                    <el-tag v-if="c.status==1" type="warning">تأكيد مبدئي</el-tag>
                                    <el-tag v-if="c.status==2" type="success">تأكيد نهائي</el-tag>
                                    <el-tag v-if="c.status==0" type="danger">مرفوض</el-tag>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                  
                                    <a v-if="loginDetails.userType!=1 && c.status!=0 && c.status!=2" href="#" @click.prevent="RejectCashIn(c.cashInId)" title="رفض الحركة"><i class="fa fa-remove"></i></a>
                                    <a v-if="loginDetails.userType!=1 && c.status!=0 && c.status!=2" href="#" @click.prevent="LastConfirm(c.cashInId)" title="تأكيد النهائي"><i class="fa fa-check"></i></a>
                                    <a href="#" @click.prevent="ShowLogs(c.cashInId)" title="تقرير الحركات"><i class="fa fa-archive"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <el-dialog title="الحركات النقدية للمستخدمين" :visible.sync="dialogTableVisible" :modalAppendToBody="false">

                        <table id="customers" v-if="CashIn!=''" style="margin-right: 6px;
">
                            <tr>
                                <th style="text-align: center; vertical-align: middle;background-color: #ff594d;">اسم ألمستخدم</th>
                                <th style="text-align: center; vertical-align: middle;background-color: #ff594d;">صلاحية المستخدم</th>
                                <th style="text-align: center; vertical-align: middle;background-color: #ff594d;">الفرع/المصرف</th>
                                <th style="text-align: center; vertical-align: middle;background-color: #ff594d;">معلومات عن الحركة</th>
                                <th style="text-align: center; vertical-align: middle;background-color: #ff594d;">القيمة</th>
                                <th style="text-align: center; vertical-align: middle;background-color: #ff594d;">تاريخ العملية</th>
                            </tr>
                            <tr v-for="L in Logs">
                                <td style="text-align: center; vertical-align: middle;">{{L.fullName}}</td>
                                <td style="text-align: center; vertical-align: middle;">

                                    <span v-if="L.userType==1">
                                        مدير النظام
                                    </span>
                                    <span v-if="L.userType==2">
                                        مدير المصرف
                                    </span>
                                    <span v-if="L.userType==3">
                                        موظف المصرف
                                    </span>

                                </td>
                                <td style="text-align: center; vertical-align: middle;">{{L.bankName}} / {{L.branchName}}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <span v-if="L.description==''">
                                        لا يوجد
                                    </span>
                                    <span v-if="L.description!=''">
                                        {{L.description}}
                                    </span>
                                </td>

                                <td style="text-align: center; vertical-align: middle;">{{L.valuedigits}}</td>
                                <td style="text-align: center; vertical-align: middle;">{{L.actionDate | moment}}</td>
                                <!--<td style="text-align: center; vertical-align: middle;">

                    <el-tag v-if="c.status==1" type="warning">تأكيد مبدئي</el-tag>
                    <el-tag v-if="c.status==2" type="success">تأكيد نهائي</el-tag>
                    <el-tag v-if="c.status==0" type="danger">مرفوض</el-tag>
                </td>-->
                                <!--<td style="text-align: center; vertical-align: middle;">
                    <a href="#" @click.prevent="RejectCashIn(c.cashInId)"><i class="fa fa-remove"></i></a>
                    <a href="#" @click.prevent="ShowLogs(c.cashInId)"><i class="fa fa-archive"></i></a>
                </td>-->
                            </tr>
                        </table>
                        <!--<el-table :data="gridData">
            <el-table-column property="date" label="Date" width="150"></el-table-column>
            <el-table-column property="name" label="Name" width="200"></el-table-column>
            <el-table-column property="address" label="Address"></el-table-column>
        </el-table>-->
                    </el-dialog>

                    <div style="text-align: center;padding-bottom:11px;padding-top:20px;">
                        <el-pagination background
                       layout="prev, pager, next"
                       :current-page="pageNo"
                       :page-size="pageSize"
                       :total="pages"
                       @current-change="GetCashIn($event)">
        </el-pagination>
                    </div>
                </div>

               

            </div>
        </div>
    </div>
</div>
