﻿<div class="content">
    <div class="container" v-if="open">
        <!-- start header here-->.
        <center>
            <div v-if="loginDetails.userType==3" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px;    font-size: 29px;
    height: 55px;">
               <strong>تنـبيه!</strong> مــوظف المصرف يمكنه عرض تقريرحركات الفرع الخاص به فقط.
           </div>
           <div v-if="loginDetails.userType==2" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px;    font-size: 29px;
    height: 55px;">
               <strong>تنـبيه!</strong> مدير المصرف يمكنه عرض جميع تقرير حركات الفروع للمصرف الخاص به.
           </div>
           <div v-if="loginDetails.userType==1" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px;    font-size: 29px;
    height: 55px;">
               <strong>تنـبيه!</strong> إدارة النظام يمكنه عرض جميع تقرير حركات المصارف المسجلة بالنظام.
           </div>
        </center>
        <header style="margin:4px 35px 23px 14%!important">

            <!--<label style="font-size: 22px;padding-bottom: 17px;">تقرير الشهر الحالي</label>-->
            <div id="fdw-pricing-table" style="width: 100%;">
                <div class="plan plan1" style="margin-top: 20px;">
                    <div class="header">عملية نقدية </div>
                    <div class="price" v-if="ST !=0">{{ST.cc}}</div>
                    <div class="price-txt" v-if="ST ==0">تـحميل ....</div>
                    <div class="monthly">تأكيد نهائي</div>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="footer"></div>
                </div>

                <div class="plan plan2" style="margin-top: 20px;">
                    <div class="header">عملية نقدية</div>
                    <div class="price" v-if="ST !=0">{{ST.mc}}</div>
                    <div class="price-txt" v-if="ST ==0">تـحميل ....</div>
                    <div class="monthly">تأكيد مبدئي</div>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="footer"></div>
                </div>
                <div class="plan plan3" style="margin-top: 20px;">
                    <div class="header">تسجيل زبائن</div>
                    <div class="price" v-if="ST !=0">{{ST.rc}}</div>
                    <div class="price-txt" v-if="ST ==0">تـحميل ....</div>
                    <div class="monthly">تأكيد نهائي</div>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="footer"></div>
                </div>
                <div class="plan plan4" style="margin-top: 20px;">
                    <div class="header">تسجيل زبائن</div>
                    <div class="price" v-if="ST !=0">{{ST.rm}}</div>
                    <div class="price-txt" v-if="ST ==0">تـحميل ....</div>
                    <div class="monthly">تأكيد مبدئي</div>
                    <ul>
                        <li></li>
                        <li></li>                   
                    </ul>
                    <div class="footer"></div>
                </div>


                <!--<div class="plan plan4">
        <div class="header">ش/حالة اجتماعية</div>
        <div class="price" v-if="PrintStatment !=0">{{PrintStatment.socialStatusSum}}</div>
        <div class="price-txt" v-if="PrintStatment ==0">تـحميل ....</div>
        <div class="monthly">معاملة مطبوعة</div>
        <ul>
            <li><b>{{PrintStatment.socialStatusAdminSum}}</b> الأدمن</li>
            <li><b>{{PrintStatment.socialStatusOfficSum}}</b> المكاتب</li>
            <li><b>{{PrintStatment.socialStatusSearchSum}}</b> الشهائد العام</li>

        </ul>
        <div class="footer"></div>
    </div>
    <div class="plan plan2">
        <div class="header">شهادة اقـامة</div>
        <div class="price" v-if="PrintStatment !=0">{{PrintStatment.residencySum}}</div>
        <div class="price-txt" v-if="PrintStatment ==0">تـحميل ....</div>
        <div class="monthly">معاملة مطبوعة</div>
        <ul>
            <li><b>{{PrintStatment.residencyAdminSum}}</b> الأدمن</li>
            <li><b>{{PrintStatment.residencyOfficSum}}</b> المكاتب</li>
            <li><b>{{PrintStatment.residencySearchSum}}</b> الشهائد العام</li>

        </ul>
        <div class="footer"></div>
    </div>
    <div class="plan plan3">
        <div class="header"> شهادة الوفاة</div>
        <div class="price" v-if="PrintStatment !=0">{{PrintStatment.diedDateSum}}</div>
        <div class="price-txt" v-if="PrintStatment ==0">تـحميل ....</div>
        <div class="monthly">معاملة مطبوعة</div>
        <ul>
            <li><b>{{PrintStatment.diedDateAdminSum}}</b> الأدمن</li>
            <li><b>{{PrintStatment.diedDateOfficSum}}</b> المكاتب</li>
            <li><b>{{PrintStatment.diedDateSearchSum}}</b> الشهائد العام</li>

        </ul>
        <div class="footer"></div>
    </div>
    <div class="plan plan4">
        <div class="header">شهادة الميلاد</div>
        <div class="price" v-if="PrintStatment !=0">{{PrintStatment.birthDateSum}}</div>
        <div class="price-txt" v-if="PrintStatment ==0">تـحميل ....</div>
        <div class="monthly">معاملة مطبوعة</div>
        <ul>
            <li><b>{{PrintStatment.birthDateAdminSum}}</b> الأدمن</li>
            <li><b>{{PrintStatment.birthDateOfficSum}}</b> المكاتب</li>
            <li><b>{{PrintStatment.birthDateSearchSum}}</b> الشهائد العام</li>

        </ul>
        <div class="footer"></div>
    </div>-->
            </div>
        </header><!-- end header -->
    </div>
</div>




<!--<div class="content">
       <div class="container-fluid" dir="rtl">

           <div v-if="loginDetails.userType==3" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px">
               <strong>تنـبيه!</strong> مــوظف المصرف يمكنه عرض تقريرحركات الفرع الخاص به فقط.
           </div>
           <div v-if="loginDetails.userType==2" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px">
               <strong>تنـبيه!</strong> مدير المصرف يمكنه عرض جميع تقرير حركات الفروع للمصرف الخاص به.
           </div>
           <div v-if="loginDetails.userType==1" class="alert alert-warning" style="color: #8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;margin-right: 2%;margin-left: 1%;font-size:20px">
               <strong>تنـبيه!</strong> إدارة النظام يمكنه عرض جميع تقرير حركات المصارف المسجلة بالنظام.
           </div>
           <center>
               <table id="datatable" border="0">
                   <tr>
                       <td width="100%">
                           <a href="#">
                               <div class="statistic">
                                   <div class="title" style="font-size: 17px;font-weight: bold;">عملية نقدية - نهائي</div>
                                   <div class="numbers">{{ST.cc}}</div>
                               </div>
                           </a>
                           <a href="#">
                               <div class="statistic">
                                   <div class="title" style="font-size: 17px;font-weight: bold;">عملية نقدية - مبدئي</div>
                                   <div class="numbers">{{ST.mc}}</div>
                               </div>
                           </a>
                           <a href="#">
                               <div class="statistic">
                                   <div class="title" style="font-size: 17px;font-weight: bold;">تسجيل زبائن - نهائي</div>
                                   <div class="numbers">{{ST.rc}}</div>
                               </div>
                           </a>
                           <a href="#">
                               <div class="statistic">
                                   <div class="title" style="font-size: 17px;font-weight: bold;"> تسجيل الزبائن - مبدئي</div>
                                   <div class="numbers">{{ST.rm}}</div>
                               </div>
                           </a>
                       </td>
                   </tr>
               </table>
           </center>

       </div>
   </div>-->
